/* Inicio variaveis css */

:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'inter';
    --cor-botao-efeito-azul: #79b2f7;
    --cor-botao-visitado: red;
}

/* Fim variaveis css */



body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
}


/* inicio reset css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* fim reset css */

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    

}

.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    align-items: center;
    text-align: center;
    
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 0.3em;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;

}

.botao_secundario {
    background-color: transparent;
    border: 0.2em solid var(--branco-principal);
}

.container__aviso {
    font-size: 0.8em;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 1.7em;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundaria {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 1.4em;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario_botao {
    display: inline-block;
    margin-top: 1em;

}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;

}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3em;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 2em;
    color: var(--branco-principal);
}

/* estilização rodape */

.rodape {
    text-align: center;
}

.rodape__lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    list-style-type: none;
    font-family: var(--fonte-principal);
    font-family: 1em;

}

.lista__link   a{
    color: var(--branco-principal);
}

.rodape__texto {
    margin-bottom: 1em;
    font-size: 0.7em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 2em;
    color: var(--cinza-secundario);
}

/* fimm estilizacao rodape */

/* inicio pseudocodigo */

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active {
    color: var(--cinza-secundario);
}

.container__botao:hover {
    background-color: var(--cor-botao-efeito-azul);
    color: var(--cor-de-fundo);
}

.container__botao:visited {
    color: yellow;
    font-weight: 700;
    
}

/* fim pseudocodigo */





/* começando com responsividade */

@media screen and (max-width: 768px) {

    .container {
        display: block;
        background-image: none;
        margin-bottom: 0;
        
    }

    .principal {
        height: 105vw;
        
    }

    .container__imagem {
        width: 50vw;
    }

    .container__caixa {
        
        margin: 2em 2em;
        
    }

    .secundaria {

       margin: 2em;
       text-align: center;
       margin-top: 0;
       height: 100vw;
    }

    .descricao__texto {
        margin-bottom: 2em;
    }



    .secundario__imagem {
        width: 50vw;
    }

    

    .dispositivos__lista {
        display: block;
    }

    .rodape {
        display: block;
    }

    .rodape__lista {
        display: block;
    }

    .container_secundaria_responsiva {
        height: 70vw;
    }

    .lista__link {
        margin-bottom: 1em;
    }

}




/* fim da responsividade */
